h1{
    text-decoration: underline;
    font-size: 20px;

}
h2{
    text-decoration: underline;
}

table{
    border-style:outset;
}

td{
    border-style:solid;
}
.hidden{
    visibility: hidden;
}
.resultat{
    display: inline-block;
    width:200px;
}
